.bodyPuzzle {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Inter";
    background: url('../puzzle/img/landingRio.jpg')  no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.cursor-mano{
    width: 50px;
    height: 50px;
    padding-top: 120px;
}

.mainPuzzle{
    margin-top: 10vh;
}

.header-puzzle{
    justify-content: space-between;
}

.tiempo, .clicks {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000; 
    font-weight: bold;
    font-size: 30px;
}
.clicks{
    margin-right: 50px;
}

.containerPuzzle {
    display: grid;
    grid-template-columns: repeat(3, 150px); 
    grid-template-rows: repeat(3, 150px);    
    gap: 8px;                               
    width: max-content;
    height: max-content;
    margin: 20px auto;
}

.containerPuzzle div {
    border: 2px solid #333;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C77E5F;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 2);
}

.containerPuzzle div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerPuzzle div:hover {
    background-color: #C77E5F;
}

/* Icono de la bombilla */
.bombilla {
    position: relative;
    display: flex;
    cursor: pointer;
}

#pista{
    position: absolute;
    top: -520px;
    right: 650px;
    width: 50px;
    height: 50px;
    background: url('./img/bombilla.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    z-index: 10;
}

#pistaPopup{
    display: none;
    position: absolute;
    top: -450px;
    right: 400px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 2);
    z-index: 20;
}

#pistaPopup img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -----------  Ventana Victoria ---------------------*/

.ventanaVictoria{
    display: none;
    width: 28vw;
    height: 55vh;
    position: fixed;
    margin:auto;
    border-radius: 75px;
    top: 47%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.884);
    z-index: 1000;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}
.v-titulo{
    font-family: "Handlee", cursive;
    font-size: 40px;
    margin-left: 100px;
}

#mensajeTiempo{
    margin-left: 180px;
    font-size: 20px;
    font-weight: bold;
    font-family:"Inter";
}
.v-botones{
    margin-top: 20px;
}

.v-botones button{
    margin: 50px 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    background-color: #437CA5;
    color: white;
    transition: background-color 0.3s ease;
}

.v-botones button:hover {
    background-color: #0A1576;
}